* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.contactsBook {
  margin: 0 auto;
  width: 500px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #12632d;
  padding-bottom: 25px;
  margin-top: 25px;
}

.titleBook {
  font-size: 80px;
}
